<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Our Team</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <!-- Banner Section -->
    <div class="" style="padding: 0;">
        <div class="banner">
            <img src="~/images/team.jpg" alt="Ecommerce Banner" style="width: 100%; height: auto;">
            <div class="banner-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
                <h1 style="font-size: 3em; font-weight: bold;">Meet Our Team</h1>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-4 team-member" style="margin-bottom: 30px; width: 100%;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Team Member" style="width: 150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Arusa Korse</h4>
                <p style="margin: 10px 0;">Developer</p>
                <div class="social-links">
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-md-4 team-member" style="margin-bottom: 30px; width: 100%;">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Team Member" style="width: 150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Tejas Kolhe</h4>
                <p style="margin: 10px 0;">Developer</p>
                <div class="social-links">
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            
            <div class="col-md-4 team-member" style="margin-bottom: 30px; width: 100%;">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Team Member" style="width: 150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Shreyash Bhagat</h4>
                <p style="margin: 10px 0;">Developer</p>
                <div class="social-links">
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-md-4 team-member" style="margin-bottom: 30px; width: 100%;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Team Member" style="width: 150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Swapnali Patil</h4>
                <p style="margin: 10px 0;">Developer</p>
                <div class="social-links">
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-md-4 team-member" style="margin-bottom: 30px; width: 100%;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Team Member" style="width: 150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Shraddha Rathi</h4>
                <p style="margin: 10px 0;">Developer</p>
                <div class="social-links">
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-twitter"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-linkedin"></i></a>
                    <a href="#" style="margin: 0 10px; color: #000;"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
